<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LionBi</title>
    
    {% block stylesheet %}
        {% stylesheets
            '@EarlsLionBiBundle/Resources/public/bower_components/bootstrap/dist/css/bootstrap.min.css'
            '@EarlsLionBiBundle/Resources/public/bower_components/metisMenu/dist/metisMenu.min.css'
            '@EarlsLionBiBundle/Resources/public/bower_components/font-awesome/css/font-awesome.min.css'
            '@EarlsLionBiBundle/Resources/public/css/sb-admin/timeline.css'
            '@EarlsLionBiBundle/Resources/public/css/sb-admin/sb-admin-2.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {% block javascripts  %}
        {% javascripts
            '@EarlsLionBiBundle/Resources/public/bower_components/jquery/dist/jquery.min.js'
            '@EarlsLionBiBundle/Resources/public/bower_components/bootstrap/dist/js/bootstrap.min.js'
            '@EarlsLionBiBundle/Resources/public/bower_components/metisMenu/dist/metisMenu.min.js'
            '@EarlsLionBiBundle/Resources/public/js/sb-admin/sb-admin-2.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts  %}
    {% endblock %}
</head>

<body>
    <div id="wrapper"></div>
        {{ block('topNav') }}
        {{ block('rightContent') }}
    </div>
    <!-- /#wrapper -->
</body>

</html>

        
