<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LionBi</title>
    
    {% block stylesheet %}
        {% stylesheets
            '@EarlsLionBiBundle/Resources/public/node_modules/bootstrap/dist/css/bootstrap.min.css'
            '@EarlsLionBiBundle/Resources/public/node_modules/metismenu/dist/metisMenu.min.css'
            '@EarlsLionBiBundle/Resources/public/node_modules/font-awesome/css/font-awesome.min.css'
            '@EarlsLionBiBundle/Resources/public/css/sb-admin/timeline.css'
            '@EarlsLionBiBundle/Resources/public/css/sb-admin/sb-admin-2.css'
            '@EarlsLionBiBundle/Resources/public/css/sound-admin/awesomplete/awesomplete.css'
            '@EarlsLionBiBundle/Resources/public/css/sound-admin/autocomplete.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
    {% block body %}
        <div id="wrapper">
            {{ block('topNav') }}
            {{ block('rightContent') }}
        </div>
    {% endblock body %}
    <!-- /#wrapper -->
    <!-- 
        '@EarlsLionBiBundle/Resources/public/node_modules/jquery/dist/jquery.min.js'
        '@EarlsLionBiBundle/Resources/public/node_modules/jquery-ui/jquery-ui.js'
        '@EarlsLionBiBundle/Resources/public/node_modules/bootstrap/dist/js/bootstrap.min.js'
        '@EarlsLionBiBundle/Resources/public/node_modules/metismenu/dist/metisMenu.min.js'
        '@EarlsLionBiBundle/Resources/public/js/sb-admin/sb-admin-2.js'
    -->
    {% block javascripts  %}
        {% javascripts
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts  %}
    {% endblock %}
</body>

</html>

        
